@using System.Web.Optimization
@using BootstrapSupport
@using NavigationRoutes
<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <title>Travel</title>
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link href="@Styles.Url("~/content/css")" rel="stylesheet"/>
        @RenderSection("head", required: false)
        @Html.Partial("_html5shiv")
        @* favicons and touch icons go here *@
    </head>
    <body>
        @*@Html.ActionLink("Add a Trip", "createTrip", "Home", new { @class = "btn btn-primary" })*@
        @*<input type="button" name="name" value="Add New Trip" class="btn btn-primary"  />*@
        <div class="navbar navbar-inverse navbar-fixed-top">
            <div class="navbar-inner">
                <div class="container">
                    <ul class="nav nav-tabs">
                        <li class="active"><a href="#home" data-toggle="tab">Home</a></li>
                        <li><a href="#trips" data-toggle="tab">View Trips</a></li>
                        <li><a href="#legs" data-toggle="tab">Legs</a></li>
                        
                    </ul>
                    @*<a class="brand" href="#" title="change in _bootstrapLayout.basic.cshtml">Application Name</a>*@
                    @*<div class="nav-collapse collapse">
                          @Html.Navigation()
                    </div>*@
                </div>
            </div>
        </div>        
        <div class="container">
            @Html.Partial("_alerts")
            @Html.Partial("_validationSummary")
            @RenderBody()   
            <hr>
            <footer>
                <p>&copy; Company @System.DateTime.Now.ToString("yyyy")</p>
            </footer> 
        </div>
         @Scripts.Render("~/js")
         @RenderSection("Scripts", required: false)
    </body>
</html>

