@model IEnumerable<MvcApp.Models.Trip>
@using BootstrapSupport;
@{
    //ViewBag.Title = "Index";
}
@section scripts{
    <script>
        $(function() {
            toastr.info(' ' + @Model.Count() + ' Trips in Database')

            $('.mySlide img:gt(0)').hide();
            setInterval(function () {
                $('.mySlide :first-child').fadeOut().next('img').fadeIn().end().appendTo('.mySlide');
            },
              5000); // 3
        })
               
                   
    </script>

    }


<body data-ng-app="">
    <div>
        @*<div ng-init="friends = [
              {name:'John', age:25, gender:'boy'},
              {name:'Jessie', age:30, gender:'girl'},
              {name:'Johanna', age:28, gender:'girl'},
              {name:'Joy', age:15, gender:'girl'},
              {name:'Mary', age:28, gender:'girl'},
              {name:'Peter', age:95, gender:'boy'},
              {name:'Sebastian', age:50, gender:'boy'},
              {name:'Erika', age:27, gender:'girl'},
              {name:'Patrick', age:40, gender:'boy'},
              {name:'Samantha', age:60, gender:'girl'}
            ]">
                      I have {{friends.length}} friends. They are:
                      <input type="search" ng-model="q" placeholder="filter friends..." />
                      <input type="text" name="txtbxName" placeholder="MEE" ng-model="p" />
                      <ul class="example-animate-container">
                          <li class="animate-repeat" ng-repeat="friend in friends | filter:p">
                              [{{$index + 1}}] {{friend.name}} who is {{friend.age}} years old.
                          </li>
                      </ul>
                  </div>*@
    </div>

    <div class="tab-content">
        <div class="tab-pane active " id="home">
            <div class="">
                <h2>Why stay home?</h2>
                <div class="mySlide">
                    <img src="~/Images/img1.jpg" />
                    <img src="~/Images/img2.jpg" />
                    <img src="~/Images/img3.jpg" />
                    <img src="~/Images/img4.jpg" />
                </div>
            </div>
            
        </div>
        <div class="tab-pane" id="trips">
            <br />
            <input type="submit" name="addTrip" value="Add a Trip" class="btn btn-primary" data-toggle="modal" data-target="#myModalAddTrip" />
            <br />
            <!-- Modal -->
            <div class="modal fade" id="#myModalAddTrip" tabindex="-1" role="dialog" aria-hidden="true">
                <div class="modal-dialog">
                    <div class="modal-content">
                        <div class="modal-header">
                            <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                            <h4 class="modal-title" id="myModalLabel">Modal title</h4>
                        </div>
                        <div class="modal-body">
                            bs-example-modal-lgbs-example-modal-lgbs-example-modal-lg
                        </div>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                            <button type="button" class="btn btn-primary">Save changes</button>
                        </div>
                    </div>
                </div>
            </div>
        
@*table*@
            <br />
            <table class="table table-striped">
                <tr>
                    <th>
                        @Html.DisplayNameFor(model => model.name)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.startDate)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.endDate)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.minimunNumberOfGuests )
                    </th>
                    <th></th>
                    <th></th>
                </tr>

                @foreach (var item in Model)
                {
                    <tr>
                        <td>
                            @Html.DisplayFor(modelItem => item.name)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.startDate)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.endDate)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.minimunNumberOfGuests)
                        </td>
                        @*<td>
                        @Html.ActionLink("Edit", "Edit", new { id = item.TripId }) |
                        @Html.ActionLink("Details", "Details", new { id = item.TripId }) |
                        @Html.ActionLink("Delete", "Delete", new { id = item.TripId })
                    </td>*@
                        <td>
                            @Html.ActionLink("HHH","Delete",new {id = item.TripId})
                            @*<input type="submit" name="option" class="btn btn-danger" value="Trash"/>*@
                        </td>
                        <td>
                            <input type="submit" name="option" class="btn btn-primary" value="Add A Leg?" />
                        </td>
                    </tr>
                }

            </table>
        </div> <!--tab trips-->
        <div class="tab-pane" id="legs">
            <div class="dropdown">
                <a data-toggle="dropdown" href="#">Dropdown trigger</a>
                <ul class="dropdown-menu" role="menu" aria-labelledby="dLabel">
                   <li>$</li>
                    <li>2</li>
                </ul>
            </div>
        </div>
        </div>
</body>